<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<th:block layout:fragment="content">
    <section id="admin_product">
        <div class="inner">
            <div class="title">
                <h2>상품관리</h2>
                <button>
                    <a href="/admin/new-product">상품등록</a>
                </button>
            </div>

            <div class="box01">
                <ul>
                    <li>
                        전체상품 <span th:text="${productPage.total}"></span>건
                    </li>
                    <li>
                        판매중 <span>3</span>건
                    </li>
                    <li>
                        판매중지 <span>1</span>건
                    </li>
                    <li>
                        품절 <span>1</span>건
                    </li>
                </ul>
            </div>

            <div class="box02">
                <form id="productFilterForm">
                    <div class="status">
                        <span>게시상태</span>
                        <div class="buttons">
                            <button type="button" class="product-status-button" name="status" value="1">판매중</button>
                            <button type="button" class="product-status-button" name="status" value="0">판매중지</button>
                            <button type="button" class="product-status-button" name="status" value="2">품절</button>
                        </div>
                    </div>
                    <div class="sort">
                        <span>분류</span>
                        <div class="buttons" th:each="category, loop : ${categories}">
                            <button type="button"
                                    class="product-category-button"
                                    name="categoryId"
                                    th:value="${category['CATEGORY_ID']}"
                                    th:text="${category['CATEGORY_NAME']}">
                            </button>
                        </div>
                    </div>
                    <div class="search">
                        <span>검색</span>
                        <input type="text" placeholder="상품명 검색">
                        <div class="buttons">
                            <button>검색</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="box03">
                <div class="left">
                    <span class="margin">검색결과 <span class="bold" th:text="${productPage.total}">5</span>건</span>
                    <button>선택 판매중지</button>
                    <button>선택삭제</button>
                </div>

                <div class="right">
                    <select name="howmany">
                        <option value="10개씩 보기">10개씩 보기</option>
                        <option value="30개씩 보기">30개씩 보기</option>
                        <option value="50개씩 보기">50개씩 보기</option>
                        <option value="100개씩 보기">100개씩 보기</option>
                    </select>

                    <button>
                        <span class="material-symbols-outlined">description</span>
                        <span>엑셀 다운로드</span>
                    </button>
                </div>
            </div>

            <div class="box04">
                <table class="product-table">
                    <caption class="hidden">상품관리</caption>
                    <thead>
                        <tr>
                            <th scope="col">
                                <input type="checkbox" checked>
                            </th>
                            <th scope="col">번호</th>
                            <th scope="col">상태</th>
                            <th scope="col">분류</th>
                            <th scope="col">상품명</th>
                            <th scope="col">상품금액</th>
                            <th scope="col">할인율</th>
                            <th scope="col">찜 수</th>
                            <th scope="col">결제횟수</th>
                            <th scope="col">리뷰수</th>
                            <th scope="col">등록일</th>
                            <th scope="col">상품수정</th>
                            <th scope="col">판매중지</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product, loop : ${productPage}">
                            <td>
                                <input type="checkbox">
                            </td>
                            <td th:text="${loop.index+productPage.startRow+1}"></td>
                            <td th:text="${product['PRODUCT_STATUS']}"></td>
                            <td th:text="${product['CATEGORY_NAME']}"</td>
                            <td th:text="${product['PRODUCT_NAME']}"></td>
                            <td th:text="|${#numbers.formatInteger(product['PRODUCT_PRICE'], 3, 'COMMA')}원|"></td>
                            <td th:text="|${product['PRODUCT_DISCOUNT']}%|"></td>
                            <td>269</td>
                            <td>135</td>
                            <td>23</td>
                            <td th:text="${#dates.format(product['PRODUCT_CREATED_AT'], 'yyyy-MM-dd')}"></td>
                            <td>
                                <button>수정</button>
                            </td>
                            <td>
                                <div th:if="${product['PRODUCT_STATUS'] == true}">
                                    <button type="button"
                                            class="product-cancel-button"
                                            th:value="${product['PRODUCT_ID']}">
                                        중지
                                    </button>
                                </div>
                                <div th:if="${product['PRODUCT_STATUS'] == false}">
                                    <span th:text="${#dates.format(product['PRODUCT_UPDATED_AT'], 'yyyy-MM-dd')}">

                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="pagination">
                <a href="#" class="prev" th:href="@{|?page=${productPage.pageNum-productPage.pageSize}&categoryId=${categoryId}&status=${status}|}">
                    <span class="material-symbols-outlined">
                        chevron_left
                    </span>
                </a>

                <p class="numbers" th:each="page: ${#numbers.sequence(1, productPage.pages)}">
                    <a th:href="@{|?page=${page}&categoryId=${categoryId}&status=${status}|}"
                       th:text="${page}"
                       th:style="${page == productPage.pageNum} ? 'font-weight: bold;' : ''">
                    </a>
                </p>

                <a href="#" class="next" th:href="@{|?page=${productPage.pageNum+productPage.pageSize}&categoryId=${categoryId}&status=${status}|}">
                    <span class="material-symbols-outlined">
                        chevron_right
                    </span>
                </a>
            </div>
        </div>
    </section>
</th:block>
</html>