<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프룻프룻 쇼핑몰</title>

    <!--Open Graph-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="프룻프룻 Shopping Mall" />
    <meta property="og:title" content="프룻프룻 Shopping Mall" />
    <meta property="og:description" content="프룻프룻 Shopping Mall 입니다." />
    <meta property="og:image" content="user/img/openGraph.png" />
    <meta property="og:url" content="https://prpr-shopping-mall.co.kr" />

    <!--파비콘-->
    <link rel="icon" href="user/img/favicon.ico" />

    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/scripts}"></th:block>
    <th:block th:insert="~{includes/style}"></th:block>

    <script defer src="js/main.js"></script>
</head>

<body>

    <header id="header">
        <div class="inner">

            <a href="../" class="logo">
                <img src="user/img/푸릇푸릇 로고.png" alt="logo" />
            </a>

            <div class="sub-menu">
                <ul class="menu">
                    <li>
                        <a href="login">Sign In</a>
                    </li>
                    <li>
                        <a href="join">Join</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">language</a>
                    </li>
                </ul>
            </div>

            <ul class="main-menu">
                <li class="item">
                    <div class="item__name">HOME</div>
                </li>

                <li class="item">
                    <div class="item__name">
                        <a href="search">상품소개</a>
                    </div>
                </li>

                <li class="item">
                    <div class="item__name">
                        <a href="search">구매내역</a>
                    </div>
                </li>

                <li class="item">
                    <div class="item__name">마이페이지</div>
                </li>

                <li class="item">
                    <div class="item__name red">
                        장바구니
                        <span class="material-icons">
                            shopping_cart
                        </span>

                    </div>
                </li>
            </ul>

        </div>
    </header>

    <section id="login">
            <form action="user/login" method="post">
                <div class="inner box-shadow">
                    <div class="login__title">
                        <h4>로그인</h4>
                    </div>

                    <div class="login__input">
                        <label for="USER_EMAIL">
                            <p>이메일주소(ID)</p>
                            <input type="textbox" name="USER_EMAIL" value="이메일 주소 입력" id="USER_EMAIL">
                        </label>

                        <div class="input__pw">
                            <label for="USER_PWD">
                                <p>비밀번호</p>
                                <input type="textbox" name="USER_PWD" value="영문, 숫자, 특수문자 (8자-20자 이내)" id="USER_PWD">
                                <p class="wrong__pw">아이디와 비밀번호가 일치하지 않습니다.</p>
                            </label>

                        </div>

                    </div>

                    <div class="login__button">
                        <div class="inner">
                            <button type="submit">로그인</button>
                        </div>
                    </div>

                    <div class="join__button">
                        <div class="inner">
                            <a href="join">
                                <button type="button">회원가입</button>
                            </a>
                        </div>
                    </div>

                    <div class="login__txt">
                        <div class="search__pw">
                            <a href="findPw">비밀번호 찾기</a>
                        </div>

                        <!-- 로그인 유지 토글 -->
                        <div class="stay__login">
                            <label>
                                <input role="switch" type="checkbox" />
                                <span>로그인 유지</span>
                            </label>
                        </div>
                    </div>
                </form>
                <div class="sns__txt">
                    <span>SNS 계정으로 간편하게 로그인하세요</span>

                    <div class="sns__img">
                        <img src="user/img/네이버.png" alt="네이버">
                        <img src="user/img/카카오.png" alt="카카오">
                        <img src="user/img/구글.png" alt="구글">
                    </div>
                </div>


            </div>

    </section>

    <footer id="footer">
        <div class="inner">
            <h1>
                <img src="user/img/푸릇푸릇 로고.png" alt="로고">
            </h1>
            <ul>
                <li>
                    <a href="#">Policy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">Customer</a>
                </li>
                <li>
                    <a href="#">Contact us</a>
                </li>
            </ul>

            <address>
                <span>(주)콜론비</span>
                <br>
                사업자등록번호 123-12-12345
                <br />
                통신판매업 신고번호 제2023-서울-1234호
                <br>
                대표 한동윤 | 개인정보 책임자 한동윤
                <br>
                서울 특별시 강남구 강남대로 123
                <br>
                <br>
                고객센터: 02-1544-1234
                <br>
                제휴문의: echel@colon-b.com
            </address>

            <p>
                Copyright &copy; 2023 Colon:B. ALL Right reserved.
            </p>
        </div>
    </footer>
</body>

</html>